body{
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.text{
    text-align: center;
}

.add_margin{
    margin: 15px;
    font-weight: bold;
    font-size: 18px;
}
.add_margin.col:hover{
    background-color: rgb(10, 152, 180);
}

.jokearea{
    margin-top:40px;
    margin-bottom: 20px;
    display: none;
    height:auto;
    text-align:center;
}

@media only screen and (max-width: 550px) {
    .add_margin{
        margin: 12px;
        font-size: 14px;
    }
    
}